.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdownButton {
    font-size: 2rem;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: transparent;
  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    min-width: 160px;
    border: 1px solid #ddd;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
  }
  
  .dropdownContent a {
    font-size: 1rem;
    color: #fff;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdownContent a:hover {
    background-color: #0B5A7C;
    font-size: 1.5rem;
  }
  
  .dropdown:hover .dropdownContent {
    display: block;
  }
  

  