.container {
  height: 40vh;
}

.banner {
  position: absolute;
  width: 100%;
  height: 40vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.banner img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.ProfilePhoto {
  position: relative;
  z-index: 25;

  width: 20rem;
  height: 20rem;

  top: 40%;
  left: 2%;
}

.ProfilePhoto img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.containerBtn {

  padding: 4rem;

  display: flex;
  align-items: center;

  gap: 8rem;
}

.containerBtn h2 {
  font-size: 3.2rem;
}

.containerChildren {
  display: flex;
  gap: 4rem;

}

.containerChildren svg{
  cursor: pointer;
  
  
}


.containerChildren svg:hover{
  color: rgb(60, 60, 108);
}