.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  height: 100vh;

}

.form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px; /* mesmo tamanho do modal do perfil */

  
  margin-top: 6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  color: #666;
  margin-bottom: 1.5rem;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fileGrid {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1.5rem;
}

.fileBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}

.btnSubmit {
  background-color: #2b6cb0;
  color: white;
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btnSubmit:hover {
  background-color: #2c5282;
}

.btnCancel {
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btnCancel:hover {
  background-color: #aaa;
}
